@charset "utf-8";

/*共通のタグ-------*/
body {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 100%;
  line-height: 1.5em;
  background-color: #eee;
  color: #444;
}

input {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  cursor: pointer;
  margin: 0;
}

a {
  opacity: 1;
  filter: alpha(opacity=100); 
  color: #0070c0;
}

a:hover,
input[type="submit"]:hover,
input[type="button"]:hover {
  opacity: 0.6;
  filter: alpha(opacity=60); 
}

a:visited,
a:active {
  opacity: 0.8;
  filter: alpha(opacity=80); 
}

/*ページ共通の構成要素-------*/
.containner {
  background-color: #fff;
  overflow: hidden;
}

.containner .header {
  height: 30px;
  padding: 20px;
  background-color: #aaa;
}

.containner .header > .title {
  margin: 0 auto;
  width: 960px;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: #fff;
}

.containner > .main {
  margin: 0 auto;
  padding: 20px;
  max-width: 960px;
}

.containner .footer {
  padding: 20px;
  background-color: #eee;
}

.containner .footer > .copyright {
  margin: 0 auto;
  max-width: 960px;
  font-size: 0.8em;
}

.containner .page-top-btn {
  position: fixed;
  bottom: 0;
  right: 20px;
}

.containner .page-top-btn a {
  display: block;
  color: #222;
  padding: 10px 15px;
  font-size: 0.8em;
  background-color: #bbb;
  border-top-left-radius: 0.4em;
  border-top-right-radius: 0.4em;
}

/*indexの構成要素-------*/

#index .containner > .main > .catch{
  -webkit-box-sizing : border-box ;
  -moz-box-sizing : border-box ;
  box-sizing : border-box ;
  width: 50%;
  padding-right: 20px;
  margin-bottom: 20px;
  float: left;
}

#index .containner > .main > .search{
  -webkit-box-sizing : border-box ;
  -moz-box-sizing : border-box ;
  box-sizing : border-box ;
  width: 50%;
  padding: 30px 30px 0;
  margin-bottom: 20px;
  background-color: #888;
  float: left;
  color: #222;
  border-radius: 0.4em;
}

@media screen and (max-width:768px){ /*タブレット、スマホ用*/
  #index .containner > .main > .catch{
    width: 100%;
  }

  #index .containner > .main > .search{
    width: 100%;
  }

}

#index .containner > .main > .catch hgroup{
  font-size: 1.8em;
  line-height: 1.8em;
}

#index .containner > .main > .search a{
  color: #fff;
}

#index .containner > .main > .search .module{
  margin-bottom: 30px;
}

#index .containner > .main > .search .module h2{
  font-size: 1.5em;
  color: #fff;
  margin-bottom: 5px;
}

#index .containner > .main > .search .module h3{
  font-size: 0.8em;
  font-weight: normal;
  line-height: 1.5em;
}

#index .containner > .main > .search .freeword{
  position: relative;
  text-align: right;
  background-color: #333;
  padding: 15px;
  margin: 10px 0;
  border-radius: 0.4em;
}

#index .containner > .main > .search .freeword [type="text"]{
  -webkit-box-sizing : border-box ;
  -moz-box-sizing : border-box ;
  box-sizing : border-box ;
  border: none;
  padding: 10px 3.5em 10px 10px;
/*  margin-bottom: 10px;*/
  font-size: 1.1em;
  font-weight: bold;
  color: #444;
  width: 100%;
  border-radius: 4px;
}

#index .containner > .main > .search .freeword [type="submit"]{
  position: absolute;
  right: 15px;
  top: 15px;
  border: none;
  background-color: #777;
  color: #fff;
  padding: 10px;
  font-size: 1.1em;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  -webkit-appearance: none;
}

#index .containner > .main > .search .tagcloud{
  margin: 10px 0;
}

#index .containner > .main > .search .tagcloud > li{
  display: inline-block;
  margin-bottom: 5px;
  vertical-align: bottom;
}

#index .containner > .main > .search .tagcloud > li a{
  display: block;
  padding: 5px 10px;
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  border-bottom: 1px #222 solid;
  text-decoration: none;
}

#index .containner > .main > .search .tagcloud > li a.lank1{
  font-size: 1.4em;
  line-height: 1.5em;
  font-weight: bold;
}

#index .containner > .main > .search .tagcloud > li a.lank2{
  font-size: 1em;
  line-height: 1.5em;
  font-weight: bold;
}

#index .containner > .main > .search .tagcloud > li a.lank3{
  font-size: 0.8em;
  line-height: 1.5em;
}

#index .containner > .main > .search .tagcloud > li a.lank4{
  font-size: 0.5em;
  line-height: 1.5em;
}

#index .containner > .main > .search .tagcloud-all-btn {
  text-align: right;
  font-weight: bold;
  font-size: 0.9em;
}

/*共通に使用するclass-------*/
.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

.assistive-text {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px,1px,1px,1px);
}
